/*-------------------------
	Simple reset
--------------------------*/

* {
  margin: 0;
  padding: 0;
}

/*-------------------------
	General Styles

azul institucional: #002855;
+ claro: #173B64;
blanco: #E7EBEF;
+ oscuro: #000B18;
--------------------------*/

html {
  background-color: #e0e0e0;
  overflow: hidden;
}

body {
  font: 16px "NunitoLocal", Arial, sans-serif;
  color: #e7ebef;
  z-index: 1;
}

section,
footer,
header,
aside {
  display: block;
}

/*-------------------------
	Logo Styles
--------------------------*/

#logo {
  width: 250px;
  position: absolute;
  transition: all 1s ease-in-out; /* Añadimos una transición suave */
}

#logo.pos-bottom-right {
  right: 0px;
  bottom: 50px;
}

/* "Falso" bottom-left, ahora será bottom-right pero más arriba */
#logo.pos-bottom-left {
  right: 0px;
  bottom: 250px; /* Sube el logo */
}

#logo.pos-top-right {
  right: 0px;
  top: 250px;
}

/* "Falso" top-left, ahora será top-right pero más abajo */
#logo.pos-top-left {
  right: 0px;
  top: 450px; /* Baja el logo */
}

#logo img {
  width: 200px;
  padding: 15px 25px;
}

#logo p {
  color: #75787b;
  padding: 0px 25px;
  /* font: 16px Arial, sans-serif; */
  text-align: center;
}

/*-------------------------
	Avisos Styles
--------------------------*/
#avisos-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#avisos {
  width: 1000px;
  padding-left: 20px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  animation: scroll 30s linear infinite;
  /* Usamos transform para una animación más fluida */
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#linea {
  padding: 20px 20px;
  margin: 5px 0px;
  border-bottom: 2px solid #202951;
}

#linea .lugarhora {
  font-family: "Nunito-Bold";
  font-weight: 700;
  font-size: 42px;
  /* padding: 10px 0px; */
  background-color: #1e73bd;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

#linea .evento {
  font-family: "Rubik-Light";
  font-weight: 300;
  font-size: 36px;
  padding: 0px 0px 10px 0px;
  /* text-shadow: 3px 2px black; */
  text-indent: 0.4cm;
  color: #202951;
}
